body
{
    font-family: verdana;
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #282828;
}

.header__logo {
    width: 137px;
    height: 23px;
    margin-left: 30px;
}
.header__nav {
    width: 80%;
    margin-right: 30px;
}

.header__nav__menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 16pt;
    color: #e6e6e6;
    margin: 0;
    padding: 0;
}
.section {
    display: flex;
    flex-wrap: wrap;
} 
.section__preview {
    width: 33%;
    height: 480px;
    background-color: aqua;
    background-repeat: no-repeat;

}

.section__preview-1 {
    background-image: url('../img/avtodevice.png');
}

.section__preview-2 {
    background-image: url('../img/T.png');
}

.section__preview-3 {
    background-image: url('../img/vector-group.png');
}

.section__preview-4 {
    background-image: url('../img/avtomig.png');
}

.section__preview-5 {
    background-image: url('../img/4.png');
}

.section__preview-6 {
    background-image: url('../img/dinamit.png');
}

.footer {
    display: flex;
    flex-wrap: wrap;
}

.footer__info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 33%;
    font-size: 18pt;
    color: #3c3c3c;
}

.footer__info__icon {
    width: 20%;
}

.footer__info__tel {
    width: 50%;
}
.footer__info__tel__item {
    display: block;
    width: 100%;
}

.footer__info__link {
    width: 70%;
    margin-left: 10px;
}

.footer__info__link__item {
    display: inline-block;
    width: 45%;
    text-decoration: none;
    text-decoration: underline dotted;
    color: #3c3c3c;
}
