body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #282828;
}

.header__logo {
    width: 137px;
    height: 23px;
    margin-left: 30px;
}
.header__nav {
    width: 80%;
    margin-right: 30px;
}

.header__nav__menu {
    display: flex;
    justify-content: space-between;
    list-style: none;

    

    /*font-size: 16pt;*/
    /*font-variant:*/ 
    color: #e6e6e6;
    margin: 0;
    padding: 0;
}
.section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} 
.section__preview {
    width: 33%;
    max-width: 320px;
    height: 480px;
    background-color: aqua;
    background-repeat: no-repeat;
    background-size: 100%;

}

.section__preview-1 {
    background-image: url('../img/avtodevice.png');
}

.section__preview-2 {
    background-image: url('../img/T.png');
}

.section__preview-3 {
    background-image: url('../img/vector-group.png');
}

.section__preview-4 {
    background-image: url('../img/avtomig.png');
}

.section__preview-5 {
    background-image: url('../img/4.png');
}

.section__preview-6 {
    background-image: url('../img/dinamit.png');
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;

}

.footer__line {
    width: 100%;
    height: 1px;
    background-color: #646464;
}

.footer__info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;


    width: 33%;
    font-size: 18px;
    line-height: 25px;
    color: #3c3c3c;
}

.footer__info__icon {
    width: 68px;
    height: 88px;
}

.footer__info__tel {
    width: 50%;
}
.footer__info__tel__item {
    display: block;
    width: 100%;
}

.footer__info__link {
    width: 50%;
    margin-left: 30px;
}

.footer__info__link__item {
    display: inline-block;
    text-decoration: none;
    color: #3c3c3c;
    border-bottom: 1px dashed;
    margin-left: 20px;
}

.footer__info-2 {
    display: flex;
    justify-content: center;

}

.footer__info-2__mail {
    text-decoration: none;
    color: #3c3c3c;
}

.footer__info-3 {
    display: flex;
    justify-content: flex-end;

}

.footer__info__site {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer__info__site_item {
    width: 25%;
}

.footer__info__site-5 {
    text-align: right;
}

.footer__info__site-2 {
    text-align: right;
    margin-right: 20px;
}

.footer__info__site-3 {
    text-align: center;
    width: 175px;
    border-right: 1px solid #3c3c3c;
    border-left: 1px solid #3c3c3c;


}

.footer__info__site-4 {
    text-align: left;
    margin-left: 20px;

}


